#checkersBoard{
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 417px;
    height: 417px;
}

.square{
    border: 1px solid black;
    height: 50px;
    width: 50px;
}

.bg{
    background-color:rgb(113, 113, 113);
}

.checker{
    width: 45px;
    height: 45px;
    margin: 2.5px;
    border-radius: 50%;
    box-shadow: 4px 4px 4px gray;
}

.checker-i{
    background-color: rgb(222, 186, 250);
}

.checker-b{
    background-color: black;
}