@import url(https://fonts.googleapis.com/css?family=Indie+Flower);
@import url(https://fonts.googleapis.com/css?family=Lobster);
@import url(https://fonts.googleapis.com/css?family=Pacifico);
@import url(https://fonts.googleapis.com/css?family=Amatic+SC);
@import url(https://fonts.googleapis.com/css?family=Chewy);
@import url(https://fonts.googleapis.com/css?family=Playfair+Display);

input[type="submit"]{
    background-color: rgb(162, 53, 246);
    color: ivory;
    cursor: pointer;
    border-radius: 5%;
    box-shadow: 10px;
}

input[type="submit"]:hover{
    background-color: coral;
}

h1{
    font-family: IndieFlower;
    font-color: black; 
}

p{
    font-family: IndieFlower;
    font-size: x-large;
}

input[type="BUTTON"]{
    background-color: rgb(145, 49, 113);
    color: ivory;
    cursor: pointer;
    border-radius: 5%;
    box-shadow: 10px;
}

input[type="BUTTON"]:hover{
    background-color: rgb(80, 197, 255);
}
